html,
body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
#cesiumContainer {
    height: 100%;
}

.cesium-viewer-bottom,
.cesium-viewer-selectionIndicatorContainer,
.cesium-viewer-infoBoxContainer,
.cesium-viewer-toolbar,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-fullscreenContainer {
    display: none;
}
